<p>Welcome to the Student Registration young wizard!</p>
<hr>
<% for student in @students %>

<p> First Name: <%= student.f_name %></p>
<p> Last Name: <%= student.l_name %></p>
<p> Age: <%= student.age %></p>
<p> House: <%= student.house %></p>
<hr>





<% end %>
